:root{
  --radius-1: 70%;
  --radius-2: 30%;
  --radius-3: 30%;
  --radius-4: 70%;
  --radius-5: 60%;
  --radius-6: 40%;
  --radius-7: 60%;
  --radius-8: 40%;
}

#wpcontent {
    padding-left: 0% !important;
}

#wpfooter {
    display: none;
}

.body {
    position: relative;
}

.tab-section {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

@media (max-width: 1500px) {
   .tab-section {
        margin-bottom: 30px;
   }
}

.link > svg {
    max-width: 50px;
    height: 40px;
}

.tab-section > .tab:not(:first-child) {
    margin-left: 30px;
}

.link:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, rgba(7, 154, 223), rgba(34, 84, 161));
    color: white;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 17px 15px 17px;
    background-color: white;
    border-radius: 30px;
    width: 95px;
    max-width: 150px;
    max-height: 150px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
    color: black;
}

.blob {
    position: absolute;
    width: 360px;
    height: 360px;
    border-radius: var(--radius-1) var(--radius-2) var(--radius-3) var(--radius-4) / var(--radius-5) var(--radius-6) var(--radius-7) var(--radius-8);
    background-image: linear-gradient(to right, rgba(7, 154, 223), rgba(34, 84, 161));
    opacity: 80%;
    filter: blur(2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    position: absolute;
    top: 20px; 
    right: 20px;
    z-index: -99;
}

.chat {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 20px;
    color: white;
}

.chat-icon {
    width: 50px;
    height: 50px;
    color: black;
}

.chat-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    width: 80px;
    height: 80px;
}

.table-container{
    padding: 0px 40px 0px 40px;
}

.dataTables_wrapper .dataTables_filter {
    float: left !important;
    text-align: left !important;
}

.table.dataTable.no-footer {
    border-bottom: transparent !important;
}

.table.dataTable thead th, table.dataTable thead td {
    border-bottom: transparent !important;
}

.dataTables_wrapper .dataTables_filter input {
    border: transparent !important;
    border-radius: 8px !important;
    padding: 5px 5px 5px 50px !important;
    background-color: white !important;
    margin-left: 0px !important;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    height: 90px;
    font-size: large;
    width: 100%;
    margin-bottom: 17px;
}

#table_filter {
    width: 35%;
}

.table-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: transparent;
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
    background-color: white;
    width: 25%;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    height: 85px;
}

.table-tab p {
    font-size: 20px;
    font-weight: bold;
}

.table-tab-container {
    margin-bottom: 30px;
}

.dataTables_filter input::placeholder {
    color: rgb(178, 178, 178);
    font-weight: bold;
    /* padding-left: 15px; */
}

.dataTables_filter label {
    color: transparent;
    font-size: 0%;
}

#table tbody tr {
    background-color: white;
}

#table thead {
    color: white;
    background-color: rgb(21, 101, 171);
    /* background-image: linear-gradient(to right, rgba(7, 154, 223), rgba(34, 84, 161)); */
}

#table {
    /* border-collapse: collapse; */
    /* border-radius: 1em; */
    border-spacing: 0em 1em;
    overflow: hidden;
}

#table td, th {
    text-align: center !important;
    font-size: medium;
    font-weight: bold;
}

#table th {
    padding: 15px !important;
}

#table p {
    font-size: medium;
    font-weight: bold;
}

#table tbody tr {
    cursor: pointer;
}

#table tbody tr:hover > td:first-child {
    border-left: 10px solid rgb(21, 101, 171);
    height: 100%;
    transition: all 150ms ease-in-out;
}

#table td:first-child {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    text-align: left !important;
    padding-left: 20px;
}

#table th:first-child {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    text-align: center !important;
}
    
#table td:last-child {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

#table th:last-child {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center !important;
}

table.dataTable.no-footer {
    border-bottom: transparent !important;
}

.cog-icon {
    width: 20px;
    margin-top: 3px;
    margin-left: 5px;
}

.pending-order-icon {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: orange;
    margin-right: 5px;
}

.processing-order-icon {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: rgb(255, 123, 0);
    margin-right: 5px;
}

.on-hold-order-icon {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: rgb(3, 29, 226);
    margin-right: 5px;
}

.completed-order-icon {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: rgb(0, 220, 15);
    margin-right: 5px;
}

.cancelled-order-icon {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: rgb(220, 0, 0);
    margin-right: 5px;
}

.refunded-order-icon {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: rgb(147, 0, 220);
    margin-right: 5px;
}

.failed-order-icon {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: rgb(220, 0, 0);
    margin-right: 5px;
}